---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/intro.astro';
import Footer from '../components/stickedFooter.astro'
import MoreInfor from '../components/moreInfor.astro';
import Sections from '../components/sections.astro';
import Login from '../components/login.astro';
import FinalSection from '../components/finalSection.astro';
import Precio from '../components/precio.astro';

---

<Layout title="¿Cuánto cuesta mi app? - Calculador de presupuestos (clon)">
    
    <Intro />
    <Login />
    <Precio />
    <Sections />
    <FinalSection />
    <Footer />
    <MoreInfor />
<<<<<<< HEAD
    
    <h1>adios</h1>
    <h1>adios</h1>
    <h1>adios</h1>
=======
>>>>>>> c6a30364cdd2dc5e667aa88de29ef37b63fcf8e2
</Layout>


