<section id="section-final" class="hidden opacity-0 max-w-[960px] p-20 article text-white flex-col items-center mt-32 gap-2 ">
    <div id="volver-empezar" class="fixed z-10 left-5 top-5 cursor-pointer text-md"><p>← Volver a empezar</p></div>

    <div class="flex flex-col items-center">
        <p class="md:text-lg">¡Bien! ¡Hemos terminado!</p>
        <h2 class="font-bold mt-4 md:text-xl">¡Compártenos si te ha gustado!</h2>
    </div>
    <div class="flex gap-4 mt-4 place-content-center">
        <div class="hover:bg-[#2d4372] transition-colors cursor-pointer justify-center rounded-md bg-[#3b5998] gap-2 flex items-center w-[35px] h-[35px] sm:w-[85px] sm:h-[33px]">
            <img class="w-[16px] h-[16px]" src="/public/icons/facebook.svg" alt="facebook icon">
            <p class="hidden sm:block">Share</p>
        </div>

        <div class="cursor-pointer justify-center rounded-md hover:bg-[#035d86] transition-colors bg-[#007bb6] gap-2 flex items-center w-[35px] h-[35px] sm:w-[85px] sm:h-[33px]">
            <img class="w-[16px] h-[16px]" src="/public/icons/linkedin.svg" alt="linkedin icon">
            <p class="hidden sm:block">Share</p>
        </div>

        <div class="cursor-pointer justify-center rounded-md hover:bg-[#a83a2b] transition-colors bg-[#dd4b39] gap-2 flex items-center w-[35px] h-[35px] sm:w-[113px] sm:h-[33px]">
            <img class="w-[16px] h-[16px]" src="/public/icons/google.svg" alt="google icon">
            <p class="hidden sm:block">Google +</p>
        </div>

        <div class="cursor-pointer justify-center rounded-md hover:bg-[#02739c] transition-colors bg-[#00aced] gap-2 flex w-[35px] h-[35px] items-center sm:w-[88px] sm:h-[33px]">
            <img class="w-[16px] h-[16px]" src="/public/icons/twitter.svg" alt="twitter icon" />
            <p class="hidden sm:block">Tweet</p>
        </div>
    </div>

    <div class="flex items-center flex-col">
        <p class="text-md mt-4 md:text-4xl font-bold">El costo estimado de tu app es</p>
        <div class="mt-2 text-4xl flex gap-2 md:text-8xl font-bold text-[#14e2cd]">
            <h1>00.000.000</h1>
            <p>COP</p>
        </div>
        <p class="mt-6 cursor">Editar respuestas</p>
    </div>

    <div class="text-center mt-12">
        <p>En Yeeply seleccionamos los mejores <strong> desarrolladores de apps y webs </strong>para tu proyecto. Publica tu proyecto en Yeeply o mira algunos de nuestros <span>casos de éxito.</span></p>
    </div>

    <div class="flex gap-6 items-center justify-center">
        <button id="crear-proyecto" class="font-bold mt-6 bg-gradient-to-r from-[#14e2cd] to-[#7a56f4] md:text-xl py-2 px-5 md:py-5 md:px-14 rounded-md">Crea tu proyecto</button>

        <button id="ver-resultado" class="font-bold mt-6 bg-gradient-to-r from-[#14e2cd] to-[#7a56f4] md:text-xl py-2 px-5 md:py-5 md:px-14 rounded-md">Ver información</button>
    </div>
</section>