<section id="main-section" class="transition-opacity container text-white max-w-screen-2xl h-screen flex flex-col items-center justify-center text-wrap text-center p-3 sm:px-0 ">
    <img class="max-w-[350px]"src="/public/main-sec/intro.png" alt="Imagen de pantalla principal" />
    <h1 class="text-4xl mt-2 sm:text-4xl xl:text-5xl"><strong>¿Cuánto cuesta desarrollar mi<span class="text-blue-300"> app</span>?</strong></h1>
    <p class="mt-1 sm:text-[12.5px] xl:text-lg">Calcula de forma rápida el costo para crear tu app, contestando estas sencillas preguntas</p>
    <button id="empezar" class="font-bold mt-6 bg-gradient-to-r from-[#14e2cd] to-[#7a56f4] text-xl py-5 px-14 rounded-md">EMPEZAR</button>

    
</section>