
<script>
  import { enviarDatosAMokapi } from '../scripts/mokapis';
  import { actualizarUser, user } from '../scripts/main.js';
  function enviarDatosLogin(event) {
    event.preventDefault(); 
    const nombres = (document.getElementById('nombre-usuario') as HTMLInputElement).value;
    const apellidos = (document.getElementById('apellidos-usuario') as HTMLInputElement).value;
    const pais = (document.getElementById('pais-usuario') as HTMLInputElement).value;
    const numero = (document.getElementById('numero-usuario') as HTMLInputElement).value;
    const correo = (document.getElementById('correo-usuario') as HTMLInputElement).value;

    // Construir el objeto de datos
    const data = {
      nombres,
      apellidos,
      pais,
      numero,
      correo
    };
    actualizarUser(data);
    enviarDatosAMokapi(data);
    const form = document.getElementById('loginForm')as HTMLFormElement;
    form.reset();
  }

  // Agregar un listener al botón de login para llamar a la función enviarDatosLogin
  document.addEventListener('DOMContentLoaded', (event) => {
    const loginButton = document.getElementById('loginButton');
    if (loginButton) {
      loginButton.addEventListener('click', enviarDatosLogin);
    }
  });
  // FIN DE MOKAPI---------
</script>






<section class="bg-[#3d3935]">
  <div id="loginsec" class="hidden opacity-0 flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div class="w-full bg-opacity-80 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 :bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-black-100">
                  Por favor ingresa tus nombres
              </h1>
              <form id="loginForm" class="flex flex-col space-y-4 md:space-y-6" action="#">
                  <div>
                      <label for="nombres" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Nombre/s</label>
                      <input type="text" name="nombres" id="nombre-usuario" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nombre" required="">
                  </div>
                  <div>
                      <label for="apellidos" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Apellido/s</label>
                      <input type="text" name="apellidos" id="apellidos-usuario" placeholder="Apellido" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                  </div>
                  <div>
                    <label for="pais" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Pais/s</label>
                    <input type="text" name="pais" id="pais-usuario" placeholder="Pais" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                
                  </div>
                  <div>
                    <label for="numero" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Numero de Telefono</label>
                    <input type="text" name="pais" id="numero-usuario" placeholder="numero" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                
                  </div>
                  <div>
                    <label for="correo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Email</label>
                    <input type="text" name="pais" id="correo-usuario" placeholder="correo" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                
                  </div>
                  
                  <button id="loginButton" type="submit" style="width: 50%;" class="font-bold bg-gradient-to-r from-[#14e2cd] to-[#7a56f4] bg-slate-300 text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 place-self-center">Continuar</button>


                
              </form>
          </div>
      </div>
  </div>
</section>