---
const { regid } = Astro.props
---


<div id={regid} class="fixed z-10 left-5 top-5 cursor-pointer text-md"><p>← Anterior</p></div>
<div class="fixed text-md flex gap-2 text-white z-20 top-5 right-5">
    <p id="precio">0</p>
    <p>COP</p>
</div>